

#navbar{
  width: 100%;
  margin-top: 0px;
}

.anka{
  font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 25px;
text-decoration: none;
color:rgb(175, 216, 232);
scroll-behavior: smooth;

}



#image{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  cursor: pointer;
}

.navbar{
  background-color: rgb(33, 104, 104);
  
}

.anka:hover{
  background-color:rgb(50, 203, 39);
  border-radius: 10px;

}

button{
  outline: none;
  background-color: yellow;
  
}

  
#header{
height: 450px;
width: 90%;
margin: 20px auto;
background-image: url("./background.img3.avif");
background-repeat: no-repeat;
background-size: cover;

}
#heading{
  text-align: center;
  margin-top: 0px;
color: rgb(219, 9, 9);
}
.liElement{
  font-size: 20px;
}
.card{
  height: 200px;
  width: 300px;
  background-color: grey;
}
.card-img-top{
  height: 350px;
  width: 350px;
}
button:hover{
  background-color: green;
}
#inputEle input{

 outline: none none;
 background-color: cadetblue;
 color: blue;
 width: 50%;
 margin: 0PX AUTO;

  
}
#submit:hover{
 background-color: green;
}

.form-control{
  text-align: center;
}
